// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.card-body label[for="image"]:hover {
    cursor: pointer;
    background: #5e5e5e;
    img {
        opacity: .5;
    }
}
